@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1ecec;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #e6e4e4;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.msg{
  @apply max-w-lg px-3 py-2 rounded-lg grow-0 shrink prose dark:prose-invert prose-h1:font-bold prose-h1:text-xl prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl prose-headings:underline;
}
.msgMe{
  @apply max-w-lg bg-white px-3 py-2 rounded-lg self-end text-right grow-0 shrink prose dark:prose-invert prose-h1:font-bold prose-h1:text-xl prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl prose-headings:underline;
}

.mkd{
  @apply prose dark:prose-invert prose-h1:font-bold prose-h1:text-xl prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl prose-headings:underline ;
}